@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-4">
        <img class="img-marcela" src="../Images/marcela-azul.jpg" />
    </div>
    <div class="col-md-8">
        <p>Olarrr, galeraaaaaa!!!</p>
        <br />
        <p>Sou a <b><a href="https://www.linkedin.com/in/marcelamariottiperes/" target="_blank">Marcela Mariotti Peres</a></b>. Mas, podem me chamar de <b>Mar</b>. 🙂</p>
        <br />
        <p>Trabalho como <b>desenvolvedora</b>, utilizando tecnologias Microsoft, desde janeiro de 2007.</p>
        <br />
        <p>Por causa dos meus cursos e perfil de Dev + Produto, acabo misturando bastante <b>Desenvolvimento + UX + Design Thinking</b> na minha forma de trabalhar. Sendo que meu objetivo principal é liderança de equipes, utilizando metodologias ágeis. Eu sou apaixonada por pessoas! ❤</p>
        <br />
        <p>
            Faço alguns pequenos freelas de Designer Gráfico como criação de marcas / logotipo, peças de divulgação web, papelaria etc; utilizando Adobe Illustrator.<br />
            Assim como desenvolvimento de sites.
        </p>
        <br />
        <p>
            Meu Instagram profissional:<br />
            <a href="https://instagram.com/marcelamperes.devascuritiba" target="_blank">@@marcelamperes.devascuritiba</a>
        </p>
        <br />
        <p>
            Fundadora do grupo <b>Devas Curitiba</b> no Meetup: <a href="https://www.meetup.com/pt-BR/DevasCuritiba/" target="_blank">https://www.meetup.com/pt-BR/DevasCuritiba/</a> e <a href="https://instagram.com/devascuritiba" target="_blank">@@devascuritiba</a>.<br />
            O objetivo é a inclusão de pessoas que se identificam como mulheres na área de tecnologia, principalmente na área de desenvolvimento. Realizando mentorias, conversas e eventos visando o desenvolvimento profissional e psicológico dessas mulheres.
        </p>
        <br />
        <p>Fiz parte por 4 anos do grupo MTAC da comunidade Microsoft nacional, fazendo webcasts, dando palestras em eventos, e escrevendo artigos técnicos.</p>
        <br />
        <p>
            Além da área técnica, sou fotógrafa e terapeuta holística (amo estudar, e não paro nunca! rs).<br />
            Sou facilmente encontrada em botecos de rua, com uma cerveja na mão e um violão na outra.
        </p>
        <br />
        <p>
            Para mais informações:<br />
            <a href="https://linktr.ee/marcelamperes" target="_blank">https://linktr.ee/marcelamperes</a><br />
            Abraço bem apertadinho! ❤
        </p>
    </div>
</div>
